


<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>FHP</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Baking Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>


	<!-- Custom-Files -->
	<link rel="stylesheet" href="view/css/bootstrap.css">
	<!-- Bootstrap-CSS -->
	<link rel="stylesheet" href="view/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="view/css/font-awesome.min.css" rel="stylesheet">


	<!-- //Web-Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>

	<!-- navigation -->
	<div class="main-top margen">
		
	</div>
	<!-- //navigation -->
	<!-- //header 2 -->

	<!-- banner slider -->
	<div id="homepage-slider" class="st-slider">

	<img src="view/images/3.png" class="img-fluid" alt="Responsive image">

	<!-- //banner slider -->

	<!-- banner bottom grids -->
	<section class="banner-bottom-w3layouts pb-5" id="services">
		<div class="container">
			<div class="row justify-content-center">

				<div class="col-lg-4 about-in text-center my-lg-0 my-4">



					<div class="serv-cont-wthree" style="height: 426px">
                         <h5 class="card-title mb-3 mt-4">Conductores</h5>

     <p class="card-text">Quiero ser parte
de FHP</p>

							<img src="view/images/icon1.png" class="img-responsive" alt="Image">

						<div class="text-center margen">
				<a href="#subscribe" class="login-button-2 text-uppercase text-wh mt-lg-0 mt-2">Registrar</a>
			</div>

					</div>
				</div>

                <div class="col-lg-4 about-in text-center my-lg-0 my-4">



					<div class="serv-cont-wthree" style="height: 426px">
                         <h5 class="card-title mb-3 mt-4">Empresa</h5>

     <p class="card-text">Requiere servicios
FHP <br> Quiero aumentar
productividad</p>

							<img src="view/images/Imagen-animada-Industria-05.gif" class="img-responsive" alt="Image" style="width: 280px; height: 180px">

						<div class="text-center margen">
				<a href="registro.php" class="login-button-2 text-uppercase text-wh mt-lg-0 mt-2">Contactar</a>
			</div>

					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- //banner bottom grids -->

	<!-- about -->
	<section class="w3ls-bnrbtm py-5" id="about">
        
        <div class="fondo-gris">

      	<div class="row justify-content-center">

				<div class="col-lg-4 about-in text-center my-lg-0 my-4">



					<div class="serv-cont-wthree"style="height: 99%">

			<div class="text-center margen">
     <p class="card-text">Nos preocupamos del cliente Final, que reciba de la mejor manera su pedido...
Manteniendo un servicio por sobre las expectativas.</p>





			</div>

					</div></div>







                    <div class="col-lg-4 about-in text-center my-lg-0 my-4">

                  				<div class="serv-cont-wthree">

			<div class="text-center margen">
     <p class="card-text">Nos preocupamos de ser
más que un proveedor, nos preocupamos de ti como si fuéramos propio...
Por lo mismo aumentamos la productividad.</p>





			</div></div>

					</div>



				  </div>




        <div class="row justify-content-center" style="margin-top: 21px">

              <div class="col-lg-4 about-in text-center my-lg-0 my-4">

                  				<div class="serv-cont-wthree">



						<img src="view/images/piramide.png" class="img-responsive" alt="Image" style="width: 182px">



			</div>

					</div>
        </div>



        <div class="row justify-content-center"style="margin-top: 21px">

				<div class="col-lg-4 about-in text-center my-lg-0 my-4">



					<div class="serv-cont-wthree"style="height: 99%">

			<div class="text-center margen">
     <p class="card-text">Nuestros Choferes son nuestro principal activo, por lo mismo aplicaremos las mejores condiciones para ellos.
Nos preocupamos del medio ambiente, nuestros vehículos cumplirán con los mas altos estándares medio ambientales..</p>





			</div>

					</div></div> </div>


</div>

	</section>
	<!-- //about -->









	<footer>


	</footer>
	<!-- //footer -->
	<!-- copyright -->
	<div class="copy_right position-relative">
		<p class="text-center text-wh py-sm-3 py-3">© Derechos reservados FHP

		</p>

	</div>
	<!-- //copyright -->


</body>

</html>
